.author {
  padding: 30px 0 80px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:last-child {
      margin-top: 50px;
    }
    div:first-child {
      margin-right: 15px;
    }
  }
  &__paragraph {
    font-weight: 500;
    line-height: 19px;
    font-size: 14px;
  }
  &__heading {
    margin-bottom: 27px;
  }
  &__text {
    max-width: 660px;
  }
  &__socials {
    margin-top: 25px;
    a:first-child {
      margin-right: 15px;
    }
  }
  &__link {
    img {
      width: 25px;
      height: 25px;
    }
  }
  @media(max-width: 1023px) {
    &__inner {
      flex-direction: column;
    }
    &__reverse {
      flex-direction: column-reverse;
    }
    &__inner {
      div:first-child {
        margin-right: 0;
      }
    }
    &__text {
      margin-bottom: 15px;
    }
    &__image {
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 426px) {
    padding: 30px 0 25px 0;
  }
}