.footer {
  &__container {
    padding: 20px 0;
  }
  &__paragraph {
    font-size: 13px;
    font-weight: 500;
    padding-left: 10px;
    a {
      color: $dark-color;
      text-decoration: underline;
    }
  }
}