.inner {
  padding-top: 40px;
  &__heading {
    margin-bottom: 45px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__points {
    display: flex;
    
  }
  &__point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 43px;
    width: 290px;
    &:first-child {
      margin-right: 50px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: $yellow-color;
    border-radius: 100%;
    margin-right: 18px;
  }
  &__paragraph {
    font-weight: 600;
    line-height: 19px;
    font-size: 20px;
  }
  &__desc {
    font-weight: 500;
    line-height: 19px;
    color: #787878;
    font-size: 13px;
  }
  @media (max-width: 1314px) {
    &__points {
      flex-direction: column;
    }
  }
  @media (max-width: 990px) {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__points {
      flex-direction: row;
    }
    &__heading {
      text-align: center;
    }
    &__image {
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 650px) {
    &__points {
      flex-direction: column;
    }
    &__point {
      margin-bottom: 22px;
    &:first-child {
      margin-right: 0;
    } 
  }
  }
}