.quote {
  margin-top: 40px;
  &__wrapper {
    background-color: $dark-color;
    color: $white-color;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
  }
  &__text {
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    max-width: 1100px;
  }
  &__author {
    margin-top: 17px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  &__button {
    margin-top: 70px;
    width: 170px;
    text-align: center;
  }
  @media (max-width: 488px) {
    margin-top: 18px;
    &__text {
      font-size: 17px
    }
    &__wrapper {
      padding: 36px 20px;
    }
    &__button {
      margin-top: 35px;
    }
  }
}